DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=

MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=
MONGODB_USER=
MONGODB_PASSWORD=

KURRENTDB_HOST=
KURRENTDB_PORT=
KURRENTDB_USERNAME=
KURRENTDB_PASSWORD=
